<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diamon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_dmd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_dmd"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diamon">
        <activity android:name=".Vue.GraphActivity"></activity>
        <activity android:name=".Vue.RegisterActivity" />
        <activity android:name=".Vue.withdrawalActivity" />
        <activity android:name=".Vue.ProfileActivity" />
        <activity android:name=".Vue.BlpActivity" />
        <activity
            android:name=".Vue.TransactionsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Vue.Account_Setting" />
        <activity
            android:name=".Vue.BuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vue.SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vue.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vue.PageMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vue.Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>